@charset "UTF-8";
/*设置默认编码集*/

/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*各浏览器显示不同，去掉边框等默认样式*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*宋体 unicode */
    color: #666;
    background: #fff;
}

/*清除浮动*/
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}
a:hover, a:focus {
    color: #666;!important;
    text-decoration: underline;!important;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}


/*公共类*/
.w {
    /*版心 提取 */
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

/*顶部通栏*/
.f-top{
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
}
.f-top-f{
    width: 20px;
    height: 20px;
    background:url("../img/sprite.png") no-repeat -2px -55px;
    position: absolute;
    top: 5px;
}
.f-top-i{
    margin-left: 28px;
    font-size: 12px;
    color: #666;
    line-height: 30px;
}
.f-top-r　ul{
    height: 30px;
}
.f-top-r ul li{
    float: left;
    cursor: pointer;
}
.f-top-r li{
    padding: 0 8px;
    line-height: 30px;
}
.f-top-r .spacer{
    width: 1px;
    height: 16px;
    background-color: #DDD;
    padding: 0;
    margin-top: 9px;
}
.f-top .f-top-r .f-top-r-down{
    font-weight: 100;!important;
    font-size: 12px;
}
.f-top-extend1 a{
    width: 20px;
    height: 20px;
    background: url("../img/sprite.png") no-repeat -2px -2px;
    display: block;
    margin-top: 5px;
}
.f-top-extend2 a{
    width: 20px;
    height: 20px;
    background: url("../img/sprite.png") no-repeat -2px -30px;
    display: block;
    margin-top: 5px;
    margin-left: -8px;
}
/*logo*/
.logo {
    height: 96px;
}

.logo-l1 a {
    display: block;
    width: 192px;
    height: 75px;
    background: url("../img/sprite.png") no-repeat -31px 0;
    margin-top: 10px;
    float: left;
}

.logo-l1 div {
    font-size: 20px;
    color: #666666;
    float: left;
    margin-left: 24px;
    line-height: 96px;
}

.logo-r {
    font-size: 14px;
    color: #666666;
    float: right;
    line-height: 96px;
}

.logo-r span {
    color: #ff4848;
}
/*底部通栏*/
.f-bottom{
    margin-top: 108px;
}
.f-bottom>ul{
    width: 240px;
    height: 184px;
    float: left;
}
.f-bottom ul h2{
    font-size: 18px;
    color: #555555;
    font-weight: bold;
    margin-bottom: 26px;
    margin-top: 0;
}
.f-bottom ul li{
    margin-bottom: 14px;
}
.f-bottom ul li a{
    font-size: 13px;
    color: #666666;
}
.QRcode{
    width: 68px;
    height: 68px;
    display: block;
    background: url("../img/sprite.png") no-repeat -46px -82px;
    position: absolute;
    left: 50%;
    margin-left: -34px;
}
.f-bottom ul:nth-of-type(4){
    text-align: center;
    position: relative;
}
.f-tel{
    text-align: center;
}
.f-phone{
    width: 35px;
    height: 38px;
    background: url("../img/sprite.png") no-repeat -2px -82px;
    display: block;
    display: inline-block;
}
.f-bottom-info{
    font-size: 20px;
    color: #333333;
    display: inline-block;
    margin-left: 10px;
}
.f-bottom ul:nth-of-type(5) p{
    font-size: 26px;
    color: #ff4848;
    text-align: center;
    margin-top: 24px;
}
/*bottom*/
.ff-bottom i{
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    display: block;
    margin-bottom: 10px;
}
.ff-bottom p{
    font-size: 12px;
    color: #666666;
    text-align: center;
}
































