@charset "UTF-8";
/*设置默认编码集*/

/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img , div {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei" !important;
    font-weight: 100;
    
}
body{
	min-width: 1200px;
}
/*各浏览器显示不同，去掉边框等默认样式*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}


/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    color: #666;
    background: #fff;
}

/*清除浮动*/
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}
a:hover, a:focus {
    color: #666;!important;
    text-decoration: underline;!important;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/*废物利用*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}


/*公共类*/
.w {
    /*版心 提取 */
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}
html
{
    min-width:1300px;
    margin:0;
}
body
{
    min-width:1300px;
    margin:0;
}
/*顶部通栏*/
.f-top{
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
    position: relative;
}
.f-top-l{
    /*margin-left:45px;*/
}
.f-top-f{
    width: 21px;
    height: 20px;
    background:url("../img/sprite.png") -2px -56px no-repeat;
    position: absolute;
    top: 5px;
}
.f-top-i{
    margin-left: 28px;
    font-size: 12px;
    color: #666;
    line-height: 30px;
}
.index-f-top{
	display: none;
}
.f-top-r　ul{
    height: 30px;
}
.f-top-r ul li{
    float: left;
    cursor: pointer;
}
.f-top-r li{
    padding: 0 8px;
    line-height: 30px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}
.f-top .f-top-r ul li a {
    color:#666;
}
.f-top-r .spacer{
    width: 1px;
    height: 16px;
    background-color: #DDD;
    padding: 0;
    margin-top: 9px;
}
.f-top .f-top-r .f-top-r-down{
    font-weight: 100;!important;
    font-size: 12px;
}
.f-top-extend1 a{
    width: 20px;
    height: 20px;
    background: url("../img/sprite.png") no-repeat -2px -2px;
    display: block;
    margin-top: 5px;
}
.f-top-extend2 a{
    width: 20px;
    height: 20px;
    background: url("../img/sprite.png") no-repeat -2px -30px;
    display: block;
    margin-top: 5px;
    margin-left: -8px;
}
/*logo*/
.logo {
	height: 80px;
}

.logo-l1 a {
    display: block;
    width: 192px;
    height: 60px;
    background: url("../img/logo-green.png") no-repeat;
    background-size:160px 60px;
    margin-top: 10px;
    float: left;
}

.logo-l1 div {
    font-size: 20px;
    color: #666666;
    float: left;
    /*margin-left: 24px;*/
    line-height: 80px;
}

.logo-r {
    font-size: 14px;
    color: #666666;
    float: right;
    line-height: 80px;
}

.logo-r span {
    color: #ff4848;
}
/*底部通栏*/
.f-bottom{
    margin-top:70px;
}
.f-bottom>ul{
    width: 240px;
    height: 184px;
    float: left;
}
.f-bottom ul h2{
    font-size: 18px;
    color: #555555;
    font-weight: bold;
    margin-bottom: 26px;
    margin-top: 0;
}
.f-bottom ul li{
    margin-bottom: 14px;
}
.f-bottom ul li a{
    font-size: 13px;
    color: #666666;
}
.QRcode{
    width: 68px;
    height: 68px;
    display: block;
    background: url("../img/jiuChuang2.jpg") no-repeat;
    background-size:cover;
    position: absolute;
    left: 50%;
    margin-left: -34px;
}
.f-bottom ul:nth-of-type(4){
    text-align: center;
    position: relative;
}
.f-tel{
    text-align: center;
}
.f-phone{
    width: 35px;
    height: 38px;
    background: url("../img/sprite.png") no-repeat -2px -82px;
    display: block;
    display: inline-block;
}
.f-bottom-info{
    font-size: 20px;
    color: #333333;
    display: inline-block;
    margin-left: 10px;
}
.f-bottom ul:nth-of-type(5) p{
    font-size: 26px;
    color: #ff4848;
    text-align: center;
    margin-top: 24px;
}
/*bottom*/
.ff-bottom i{
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    display: block;
    margin-bottom: 10px;
}
.ff-bottom p{
    font-size: 12px;
    color: #666666;
    text-align: center;
}
.main-l .on {
    color: #00aa5c!important;
}

.main-l .gray{
	color: rgb(153, 153, 153)!important;
}

input:disabled {
    background: #fff;
}

/* 弹出框开始 */

.alert{
    display: none;
}

.alert .alertTou{
    text-align: center;
    color:white;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: black;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
}

.alert span{
    position: absolute;
    top: 400px;
    width:560px;
    margin-left: 40px;
    display: inline-block;
    color: black;
    font-size: 28px;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-radius:4px;
}

.promptMask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
    background: rgba(0,0,0,.4);
    z-index: 50;
    display: none;
}

.promptInform{
    width: 500px;
    height: 360px;
    z-index: 51;
    /*border: 1px solid #000;*/
    position: absolute;
    top: 50%;
    margin-top: -180px;
    left: 50%;
    margin-left: -288px;
    border-radius: 8px;

}
.inform-head{
    /*width: 100%;*/
    height: 40px;
    background: #f2f2f2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 40px;
    border-bottom:1px solid #d9d9d9;
}
.inform-head span{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}

.cancel{
    cursor: pointer;
    width: 16px;
    height: 16px;
    line-height: 40px;
    font-weight: bold;
}
.cancel:hover{
    color: #00aa5c;
    transition: all .5s;
}
.prompt-inform-body{
    text-align: center;
    padding:32px 75px 30px 75px;
    background: #ffffff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    color: #555555;
}

.text-inform-left{
    text-align: left;
    text-indent: 2em;
}

.nextStep{
    margin-top: 12px;
    width: 136px;
    height: 40px;
    /* margin-left: 96px;*/
    background: #00aa5c;
    color: #ffffff;
    border-radius: 5px;
}

/* 弹出框结束*/

/* 等待框开始 */
#loading{
    display: none;
    position: fixed;
    /*left: 55%;*/
    /*top: 350px;*/
    z-index: 999;
    width: 100%;
    left: 0;
    text-align: center;
    top: 0;
    height: 100%;
    right: 0;
    bottom: 0;
}

.spinner {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 300px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #67CF22;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

/* 等待框结束 */


/* 表单验证错误开始 */
label.formError{
    color: #ff4848;
    margin-left: 12px;
    font-weight: 100;
    font-size: 12px;
}
label.errorRight{
    float: right;
    line-height: 53px;
}
label.errorBottom{
    position: absolute;
    left: 101px;
    top: 40px;
}
/* 表单验证错误结束 */


/*新增供应商弹窗 B*/
#addMask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
    background: rgba(0,0,0,.4);
    z-index: 50;
    display: none;
}

#addMask .inform {
    width: 576px;
    height: 590px;
    z-index: 51;
    display: block;
    /* border: 1px solid #000; */
    position: absolute;
    top: 1%;
    /* margin-top: -180px; */
    left: 50%;
    margin-left: -288px;
    border-radius: 8px;
    overflow: hidden;
}
#addMask .inform-head {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
}
#addMask .inform-head span {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}
#addMask .inform-body {
    padding: 32px 40px 10px 15px;
    background: #ffffff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    color: #555555;
}
#addMask .inform .lab {
    width: 520px;
    height: 56px;
    /* margin-bottom: 15px; */
    position: relative;
}
#addMask>div:nth-of-type(1) .inform-body>div:nth-of-type(1) .input-l {
    float: left;
}
#addMask .input-l {
    font-size: 14px;
    color: #555555;
    display: inline-block;
    float: left;
    line-height: 33px;
    width: 110px;
}
#addMask .inform select {
    width: 93px;
    height: 36px;
    margin-right: 7px;
    float: left;
}
#addMask .judge {
    margin: 1px 0 0 110px;
    display: none;
}
#addMask .lab-tel .input-l {
    width: 110px;
    text-align: right;
}
#addMask .lab #cellPhone {
    width: 288px;
    height: 36px;
}

#addMask .lab .txt {
    width: 388px;
    height: 36px;
}

#addMask .lab-phone .input-l {
    width: 110px;
    text-align: right;
}
#addMask .lab #area {
    width: 80px;
    height: 36px;
}
#addMask .lab #phoneNum {
    width: 204px;
    height: 36px;
}
#addMask .reminder {
    margin-left: 110px;
    margin-bottom: 0;
}
#addMask .save {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 136px;
    height: 40px;
    margin-left: 110px;
    background: #00aa5c;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}

#addMask .inform-body>div:nth-of-type(1) .input-l{
    margin-left: -4px;
}




