/*main*/
.main{
    width: 100%;
    border: 1px solid #dddddd;
    padding-left: 118px;
    padding-top: 40px;
    padding-right: 124px;
}
.order-type h2{
    font-size: 18px;
    /*font-weight: bold;*/
    color: #333333;
    margin: 0;
    padding-bottom: 8px;
    display: block;
    border-bottom: 1px dashed #dddddd;
}
.order-type label{
    position: relative;
    display: block;
}
.type-1{
    /*text-align: center;*/
    margin-top: 20px;
}

/*.type-1> span:first-child*/
/*{*/
    /*margin-left: 270px;*/
/*}*/
.type-1 input {
    width: 14px;
    height: 14px;
    color: #666666;
    margin-right: 8px;
    /*position: absolute;*/
    top: 0;
    /*left: 249px;*/
    margin-left: 250px !important;
}
.type-1 span:nth-of-type(1){
    font-size: 16px;
    color: #555555;
    margin-right: 32px;
}
.type-1 span:nth-of-type(2){
    font-size: 13px;
    color: #666;
    margin-left: -8px;
}
.type-2{
    margin-bottom: 20px;
}
/*.type-2 span:nth-of-type(1){*/
    /*margin-left: 14px;*/
/*}*/
.supplier h2{
    font-size: 18px;
    /*font-weight: bold;*/
    color: #333333;
    margin: 0;
    padding-bottom: 8px;
    display: block;
    border-bottom: 1px dashed #dddddd;
}
.supplier-2{
    margin-bottom: 16px;
    text-align: center;
}
.supplier ul{
    width: 500px;
    margin: 0 auto;
    margin-left: 230px;
    margin-bottom: 16px;
}
.supplier-2{
    margin-top: 20px;
}
.supplier-2 span{
    font-size: 16px;
    color: #555555;
}
.supplier-2 select{
    width: 384px;
    height: 36px;
    margin-left: 36px;
}
.supplier ul li span{
    width: 104px;
    float: left;
    text-align: right;
}
.supplier ul{
    display: none;
}
.supplier ul li {
    font-size: 14px;
    color: #999999;
    margin-bottom: 10px;
    height: 20px;
}
.supplier-2 button{
    width: 128px;
    height: 36px;
    border: 1px solid #00aa5c;
    color: #00aa5c;
    border-radius: 5px;
    margin-left: 24px;
    background: #ffffff;
    display: none;
}
.supplier-2 button:hover{
    transition: all .5s;
    color: #ffffff;
    background: #00aa5c;
}

/*mask*/
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
    background: rgba(0,0,0,.4);
    z-index: 50;
    display: none;
}
.inform{
    width: 600px;
    height: 360px;
    z-index: 51;
    /*border: 1px solid #000;*/
    position: absolute;
    top: 1%;
    /*margin-top: -180px;*/
    left: 50%;
    margin-left: -288px;
    border-radius: 8px;
}

.inform-head{
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 40px;
    border-bottom:1px solid #d9d9d9;
}
.inform-head span{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}

.cancel{
    cursor: pointer;
    width: 16px;
    height: 16px;
    line-height: 40px;
    font-weight: bold;
}
.cancel:hover{
    color: #00aa5c;
    transition: all .5s;
}
.inform-body{
    padding:32px 40px 10px 40px;
    background: #ffffff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    color: #555555;
}

.inform .lab{
    /*width: 496px;*/
    height: 56px;
    /*margin-bottom:15px;*/
    position: relative;
}
.input-l{
    width: 110px;
    text-align: right;
    font-size:14px;
    color:#555555 ;
    display: inline-block;
}
#inform4 .save-1{
    margin-left: 180px;
}
.selectList{display: inline-block;}

.inform select{
    width: 94px;
    height: 36px;
    margin-right:7px ;
}
.inform .district{
    margin-right:0px ;
}
.lab .txt{
    width: 400px;
    height: 36px;
}


.lab input{border:1px solid #b9b9b9;padding-left:8px ;}


.lab #cellPhone{
    width:295px;height: 36px;
}
.lab #area{
    width:80px;height: 36px;
}
.lab #phoneNum{
    width:210px;height: 36px;
}
.ml-0{margin-left: 0!important;}
.ml-18{margin-left:18px!important;}
.fuml{
    /*margin-left:-10px ;*/
}

.judge{
    margin:1px 0 0 115px;
    display: none;
}

.numWrong{
    border: 1px solid #ff4848;
}

.tel{
    height: 36px;
    line-height: 36px;
    margin-bottom: 32px;
}
.tel .word{
    width: 96px;
    float: left;
    text-align: right;
}
.img{
    width: 152px;
    border: 1px solid #d9d9d9;
    padding-left: 5px;
    margin-right: 7px;
}
.gain{
    width: 128px;
    background: #00aa5c;
    color: #ffffff;
}
.save{
    margin-top: 20px;
    margin-bottom: 80px;
    width: 136px;
    height: 40px;
    margin-left: 115px;
    background: #00aa5c;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}
.first-td{
    color: #999;
}
.wrong{
    display: none;
    margin-left: 100px;
    color: #ff4848;
    position: absolute;
    left: 75px;
    top: 190px;
}
.newTel{
    width: 285px;
    border: 1px solid #d9d9d9;
    padding-left: 5px;
    margin-right: 7px;
}

#next{
    position: relative;
    bottom: -40px;
}
.nextStep-2{
    position: absolute;
    bottom: 135px;
}
.inform-3 .inform-body,.inform-4 .inform-body{
    /*padding-bottom: 116px;*/
    text-align: center;
}

#save_3,#save_4{
    /*margin-left: 180px;*/
    margin-top: 50px;
    margin-bottom: 20px;
}

.inform{
    display: none;
}

.red{color:red;}
.reminder{
    margin-left: 110px;
    margin-bottom: 0;
}

/*新增货柜*/
.container-add{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 62px;

    /*display: none;*/
}
.container-add p{
    font-size: 20px;
    color: #666666;
    margin-bottom: 0;
}
.container-btn{
    font-size: 16px;
    background: #ffffff;
    color: #00aa5c;
    border: 1px solid #00aa5c;
    border-radius: 5px;
    margin-top: 40px;
    width: 126px;
    height: 38px;
}
.container-btn:hover{
    border-color: #00c471;
    background: rgba(16, 196, 113, .1);
    color: #00c471;
    transition: all .5s;
}

/*新增货柜*/
.inform-1{
    width: 480px;
    height: 296px;
    top: 50%;
    margin-top: -140px;
}
.inform-1 .inform-body {
    padding-top: 32px;
    text-align: center;
}
.inform-1 .inform-body input{
    width: 200px;
    height: 36px;
    font-weight: 500;
}
.inform-1 .inform-body .lab{
    width: 100%;
    height: 36px;
}
.inform-1 .inform-body .save{
    text-align: center;
    margin: 40px 0;
    margin-left: 15px;
}
.inform-1 .inform-body .lab:nth-of-type(2){
    margin-bottom: 0;
}
.inform-1 .inform-body select{
    width: 200px;
    height: 36px;

}
.inform-1 .inform-body select option{
    color: #666666;
    font-size: 14px;
}
.inform-1 .lab{
    position: relative;
    line-height: 36px;
}
.inform-1 .input-l{
    width: 85px;
    display: block;
    float: left;
    text-align: right;
}
.inform-1 .input-2{
    margin-left: -6px;
}
.num-fruit{
    font-size: 14px;
    color: #999999;
}
.inform-1 .inform-body .lab:nth-of-type(2) .judge{
    margin-left: -40px;
    margin-top: 0;
}

/*订单表格*/
.pro-list{
    display: none;
    padding-bottom: 16px;
    border-bottom: 1px dashed #cccccc;
}
.pro-list p{
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 13px;
    color: #666;
    font-family: sans-serif;

}
.pro-list-body table tr{
    margin-bottom: 16px;
    display: inline-table;
}
.pro-list-1{
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 16px;
    padding: 10px 24px;
    position: relative;
    margin-bottom: 32px;
}
.pro-list-head h3{
    width: 280px;
    height: 36px;
    margin: 0;
    margin-right: 16px;
    display: inline-block;
    font-size: 18px;
    color: #333333;
    /*font-weight: bold;*/
    line-height: 36px;
    margin-bottom: 20px;
}
.x{
    width: 25px;
    height: 25px;
    border: 1px solid #666;
    position: absolute;
    right: 10px;
    padding-right: 3px;
    top: 15px;
    border-radius: 5px;
}
#type_product{
    color: #666;
    font-weight:500;
}
.x .cancel-1{
   line-height: 25px;
    text-align: center;
    color: #666666;
}
.list-head .first-th,.first-td {
    width: 120px;
    margin-right: 32px;
}
.total{
    width: 104px;
}
.list-head{
    padding-bottom: 8px;
    display: block;
    border-bottom: 1px dashed #cccccc;
    font-size: 16px;
    color: #666666;
    margin-bottom: 16px;
}
.pro-list-body th ,.pro-list-body td{
    width: 88px;
    margin-right: 32px;
    display: inline-block;
    font-weight: normal;
}
.pro-list-body td .first-td{
    width: 120px;
}
.pro-list-body td input,.pro-list-body td select{
    width: 88px;
    height: 36px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.pro-list .pro-list-1 .pro-list-body .in-1{
    width: 120px;
}
.pro-list-body td select{
    font-size: 14px;
    color: #333333;
}
.pro-list-body .price{
    width: 107px;
    /*margin-left: 7px;*/
    margin-right: 32px;
    color: #999999;
}
.supplier .pro-list .pro-list-body .in-1{
    width: 120px;
}
.pro-list-body .price span{
    display: inline-block;
}
.in-3{
    /*margin-left: 6px;*/
}

.in-4{
    /*margin-left: 5px;*/
}
.pro-list-body .amount{
    margin-left: -18px;
    width: 107px;
    margin-right: 32px;
}
.amount span{
    display: inline-block;
    color: #999999;
}
.pro-list-body .price-all{
    margin-right: 0;
    margin-left: -15px;
    width: 120px;
}
.pro-list-body .price-all input{
    width: 100px;
    border: none;
    border-bottom: 1px solid #cccccc;
    color: #cccccc;
}
.pro-list-body .price-all span{
    color: #cccccc;
}
.add-h{
    font-size: 16px;
    color: #00aa5c;
    cursor: pointer;
    margin-bottom: 16px;
    width: 100px;
}
.add-h span:nth-of-type(1){
    font-family: Arial;
}
.add-h:hover,.add-h:focus{
    color: #00c471;
    text-decoration: underline;
}
.sum{
    float: right;
}
.sum span{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
}
.sum input{
    border-bottom: 1px solid #cccccc;
    width: 130px;
    background: #ffffff;
    color: #999;
}

.sum span:nth-of-type(2){
    color: #999;
    font-weight: normal;
}
.ad{
    width: 120px;
    height: 36px;
    font-size: 16px;
    color: #00aa5c;
    background: #ffffff;
    border: 1px solid #00aa5c;
    position: relative;
    right: -838px;
    display: none;
}
.ad:hover{
    color: #ffffff;
    background: #00aa5c;
    transition: all .5s;
}
.order-next{
    width: 192px;
    height: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    position: relative;
    left: 50%;
    border-radius: 5px;
    margin-left: -96px;
    background: #00aa5c;
    color: #ffffff;
    display: none;
    font-size: 16px;
}
.order-next:hover{
    background: #10c471;
}
.order-next:focus{
    background: #f2f2f2;
    color: #999999;
}
/*.pro-list-1 .pro-list-body .in-2{*/
    /*margin-left: 32px;*/
/*}*/
.pro-list .pro-list-1 .pro-list-body .in-1{
    width: 120px;
}
.pro-list-b{
    display: none;
}
.supplier .container-btn-2{
    display: none;
}
.cancel-1:hover{
    color: #00aa5c;
}

.inform-2,.inform-3,inform-4{
    width: 480px;
    height: 296px;
    top: 50%;
    margin-top: -140px;
}
.inform-2 .inform-body input {
    width: 200px;
    height: 36px;
}
.inform-2 .inform-body select {
    width: 200px;
    height: 36px;
}



/*新增货柜*/
.inform-2{
    width: 480px;
    height: 296px;
    top: 50%;
    margin-top: -140px;
}
.inform-2 .inform-body {
    padding-top: 32px;
    text-align: center;
}
.inform-2 .inform-body input{
    width: 200px;
    height: 36px;
}
.inform-2 .inform-body .lab{
    width: 100%;
    height: 36px;
}
.inform-2 .inform-body .save{
    text-align: center;
    margin: 40px 0;
    margin-left: 15px;
}
.inform-2 .inform-body .lab:nth-of-type(2){
    margin-bottom: 0;
}
.inform-2 .inform-body select{
    width: 200px;
    height: 36px;
    font-weight: 500;
    color:#666;
}
.inform-2 .inform-body select option{
    color: #666666;
    font-size: 14px;
}
.inform-2 .lab{
    position: relative;
    line-height: 36px;
}
.inform-2 .input-l{
    width: 85px;
    display: block;
    float: left;
    text-align: right;
}
.inform-2 .input-2{
    margin-left: -6px;
}
.num-fruit{
    font-size: 14px;
    color: #999999;
}
.inform-2 .inform-body .lab:nth-of-type(2) .judge{
    margin-left: -40px;
    margin-top: 0;
}
#pro_list_2 .cancel-2{
    line-height: 25px;
}
.hide_inform{
    display: none;
}




.mask>div:nth-of-type(1) .inform-body>div:nth-of-type(1) .input-l{
    float: left;
}


.mask>div:nth-of-type(1) .inform-body>div:nth-of-type(1) .country{
    float: left;
}


.mask>div:nth-of-type(1) .inform-body>div:nth-of-type(1) .selectList{
    float: left;
}

.selectPro{
    position: absolute;
    left: 180px;
    bottom: 125px;
}


#country_phone{
    /*margin-left: 24px;*/
}


#save_4{
    margin-left: 0;
}

#save_3{
    margin-left: 0;
}


.inform-1 .inform-body>div:nth-of-type(2){
    margin-top: 32px;
}
#inform2 .inform-body>div:nth-of-type(2){
    margin-top: 32px;
}

#addSuppier .inform-body .lab label.error{
    position: absolute;
    /*left: 85px;*/
    top: 37px;
    font-size: 12px;
    color:#ff4848;
    font-weight: normal;
}


.lab-phone .input-l{
    width: 110px;
    text-align: right;
}
.lab-tel .input-l{
    width: 110px;
    text-align: right;
}


#save_product:hover{
    transition: all .5s;
    background: #10c471;
}





